@import "_mixin";
$celeste:#328FB4;

.banner {
  width: 100%;
  height: auto;
  display: block;
}

.main{  
  &__h1 {
    /* Subtitulo main */
    text-align: center;
    padding: 1rem;
    background-color: $celeste;
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: underline;
  }
  &__h2 {
    /* Subtitulo main */
    text-align: center;
    padding: 1rem;
    background-color: $celeste;
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: underline;
  }
  
  &__divJuego{
    @include flex(column);
  }
  
  &__grid {
    @extend .main__divJuego;
    height: 90vh;
  }
  &__grid__section{
    @include flex(column);
    grid-area: section;
  }
  &__tituloJuego{
    font-weight: bold;
    align-self: center;
  }

  &__portadaJuego{
    @include portadaJuegos;
    height: 20vh;
    transition: all 0.5s;
  }
  &__portadaJuego:hover{
    transform: skewX(2.5deg);
    transform: skewY(2.5deg);
  }

  &__parrafoJuegoGrande{
    display: none;
    text-align: center;
  }
  
  &__parrafoJuegoChico{
    font-size: 15px;
    margin: 5px;
    text-align: center;
  }
  
  &__grid__aside{
    @include flex(column);
    grid-area: aside;
    padding-bottom: 3rem;
  }

  &__h3 {
    /* Sub Subtitulo h3 */
    font-weight: bold;
    margin: 1rem;
  }
  
  &__p {
    /* Estilo para parrafos */
    background-color: rgba(255, 255, 255, 0.616);
    line-height: 3rem;
    padding: 1rem;
    font-size: medium;
  }

  &__form {
    margin: 1rem;
  }
  
  &__form__fieldset {
    background-color: rgba(240, 228, 70, 0.521);
    padding: 1rem;
  }
}

.lastDiv{
  padding-bottom: 3rem;
}

@media (min-width:768px) {
  .main{
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px;
        grid-template-areas: 
        "section section aside"
        "section section aside"
        "section section aside";
        margin-bottom: 3rem;
    }
  
    &__grid__section{
        display: flex;
        height: 100%;
        grid-area: section;
        @include overflow;
    }
  
    &__grid__aside{
        display: flex;
        height: 100%;
        grid-area: aside;
        @include overflow;
    }
  
    &__tituloJuego{
        align-self: flex-start;
        margin-left: 10px;
        margin-top: 0;
    }
  
    &__portadaJuego{
      @include portadaJuegos;
      height: 15vh;
  }
  
    &__parrafoJuegoChico{
        display: none;
    }
  
    &__parrafoJuegoGrande{
        font-size: medium;
        display: inline;
        text-align: center;
    }
  }
}

@media (min-width:992px) {
  .main{
    &__divJuego{
        flex-direction: row;
        margin: 5px;
    }
    
    &__portadaJuego{
      @include portadaJuegos;
      height: 20vh;
    }
    
    &__grid__section{
        display: flex;
        height: 100%;
        grid-area: section;

    }
  }
}