/* Etiqueta raiz*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

.body {
    min-height: 100vh;
    margin-bottom: 100px;
    clear: both;
    background: linear-gradient(orange,white);
    background-repeat: no-repeat;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

/*---*/

.header__nav {
    /* Estilos para el menu de navegacion */
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 18px;
    justify-content: center;
    background-color: black;
    height: 3rem;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.nav__boton {
    /* Estilo para mostrar los botones de navegacion en linea*/
    text-align: center;
    font-size: 15px;
    width: 20%;
    flex-grow: 1;
    border: solid rgb(66, 65, 65);
    background-color: rgb(0, 0, 0);
    transition: all 0.5s;
}

.nav__boton:hover{
    transform: scale(0.8,0.8);
    background-color: beige;
}

.nav__boton:hover a{
    color: black;
}

.juegos__boton {
    /* Estilo para mostrar los botones de navegacion en linea*/
    text-align: center;
    font-size: 15px;
    width: 100%;
    flex-grow: 1;
    border: solid rgb(66, 65, 65);
    background-color: rgb(0, 0, 0);
}

.juegos__boton:hover {
    /* Estilo para mostrar los botones de navegacion en linea*/
    background: linear-gradient(to right,deepskyblue,yellow);
    border: solid rgba(255, 0, 0, 0);
}

.juegos__boton:hover a{
    color:black
}

.banner {
    width: 100%;
    height: auto;
    display: block;
}

a {
    color: white;
    text-decoration: none;
}

.main__h2 {
    /* Subtitulo main */
    text-align: center;
    padding: 1rem;
    background-color: rgb(50, 143, 180);
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: underline;
}

.main__grid {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.grid__section{
    display: flex;
    flex-direction: column;
    height: 150vh;
    grid-area: section;
    overflow: auto;
}

.containers{
    display: flex;
    flex-direction: column;
}

.tituloJuego{
    align-self: center;
}

.parrafoJuegoGrande{
    display: none;
    text-align: center;
}

.parrafoJuegoChico{
    font-size: 15px;
    margin: 5px;
    text-align: center;
}
.portadaJuego{
    height: 20vh;
    max-width: 100%;
    object-fit: cover;
    align-self: center;
    transition: all 0.5s;
}

.portadaJuego:hover{
    transform: skewX(2.5deg);
    transform: skewY(2.5deg);
}

.grid__aside{
    display: flex;
    flex-direction: column;
    overflow: auto;
    grid-area: aside;
}


/*---*/
.tbody__tr__td--imagenFondo {
    /* Estilo Imagen de fondo */
    background-image: url("../loguito.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10rem;

}

.main__h3 {
    /* Sub Subtitulo h3 */
    margin: 1rem;
}

.main__p {
    /* Estilo para parrafos */
    background-color: rgba(255, 255, 255, 0.616);
    line-height: 3rem;
    padding: 1rem;
    font-size: medium;
}

.footer {
    /* Estilos para el menu de navegacion */
    display:flex;
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    justify-content: center;
    background-color: black;
    height: 3rem;
}

.footer__boton {
    /* Estilo para mostrar los botones de navegacion en linea*/
    width: 25%;
    text-align: center;
    border: solid rgb(66, 65, 65);
    background-color: rgb(0, 0, 0);
    transition: all 0.5s;
}

.footer__boton:hover{
    transform: scale(0.8,0.8);
    background-color: beige;
}

.footer__boton:hover a{
    color: black;
}

/*  Estilos para el Form de contacto*/
.main__form {
    margin: 1rem;
}

.main__form__fieldset {
    background-color: rgb(240, 228, 70, 0.521);
    padding: 1rem;
}

.main_noticias{
    display: flex;
    flex-direction: column;
}

.main_empresas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.empresas__containers{
    display: flex;
    flex-direction: column;
}
/***/
/*MEDIA QUERIES*/
@media (min-width:768px) {
    .break {
        flex-basis: 0%;
        height: 0;
    }
    

    .header__nav {
        /* Estilos para el menu de navegacion */
        flex-wrap: nowrap;
        padding-bottom: 0;
    }

    .main__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px;
        grid-template-areas: 
        "section section aside"
        "section section aside"
        "section section aside";
        margin-bottom: 3rem;
    }

    .grid__section{
        display: flex;
        height: 100%;
        grid-area: section;
        overflow: auto;
    }

    .grid__aside{
        display: flex;
        height: 100%;
        grid-area: aside;
        overflow: auto;
    }

    .tituloJuego{
        align-self: flex-start;
        margin-left: 10px;
        margin-top: 0;
    }

    .portadaJuego{
    height: 15vh;
    max-width: 100%;
    object-fit: cover;
    align-self: center;
}

    .parrafoJuegoChico{
        display: none;
    }

    .parrafoJuegoGrande{
        font-size: medium;
        display: inline;
        text-align: center;
    }

    .new{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

}

@media (min-width:992px) {
    .containers{
        flex-direction: row;
        margin: 5px;
    }
    
    .portadaJuego{
        height: 20vh;
        max-width: 100%;
        object-fit: cover;
        align-self: center;
    }
    
    .grid__section{
        display: flex;
        height: 100%;
        grid-area: section;
        overflow: auto;
    }

    .containers{
        height: 100vh;
        overflow: visible;
    }
}
